[all:vars]
ansible_become=true
ansible_connection=ssh

# The playbook uses the following credentials to access hosts:

ansible_user=pi
ansible_ssh_pass="<ssh_password>"

# Credentials for NUT client/server traffic:

nut_admin_user="admin"
nut_admin_password="<admin_password>"
nut_reader_user="reader"
nut_reader_password="<reader_password>"

# Enable heartbeat UPS for all UPS monitors:

heartbeat_enabled=true

# Hosts:

# NUT Servers should have one or more UPS connected via USB.

[nut_server]
nut-a.mydomain.com
nut-b.mydomain.com
nut-c.mydomain.com

# A single NUT monitor is required to collect results from all NUT servers.
# This can run on the same host as a NUT server.

[nut_monitor]
nut-monitor.mydomain.com

# Single NUT web server is required to display results from the NUT monitor.
# This can run on the same host as a NUT server and/or NUT monitor.

[nut_web]
nut-web.mydomain.com
